
    Build a simple client/server network
    Create a dictionary, populate it, serialize it and send it to a server
    Create a text file and send it to a server
    With the dictionary, the user should be able to set the pickling format to one of the following: binary, JSON and XML
    The user will need to have the option to encrypt the text in a text file
    The server should have a configurable option to print the contents of the sent items to the screen and or to a file
    The server will need to be able to handle encrypted contents
    The client and server can be on separate machines or on the same machine.
    Make sure that the code is written to PEP standard and uses exception handling to handle potential errors
    Write unit tests
    Upload the project to the source control website
